<div class="l-apple-box"></div>
<table class="table table-striped">
  <tr>
    <th>
      Scanner Name
    </th>
    <th>
      Last update
    </th>
    
  </tr>
  <% @scanners.each do |s| %> 
    <tr>
      <td>
        <%= s.device_id %>
      </td>
      <td>
        <%= s.updated_at.in_time_zone("Eastern Time (US & Canada)").strftime("%Y-%m-%d %H:%M:%S") %>
      </td>
    </tr>
  <% end %>
</table>
